body{
    background-image: url("https://media.freestocktextures.com/cache/1c/5e/1c5e5d0203fad5ae494c8e9bd5df4c0d.jpg");
}

.stacked{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name{
    width: 20%;
}

.story{
    width: 25%;
}